*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container
{
  color: #fff;
  background-color: #004C98; /*Blue of Greek flag*/
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.menu
{
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.links
{
  text-decoration: none;
  color: white;
}

.login
{
  margin-left: 20px;
}

.header-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text
{
  color: white;
  background-color: #004C98; /*Blue*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid red;
  margin-bottom: 20px;
}

.konos
{
  margin-bottom: 20px;
}

.important-dates
{
  list-style-type: none;
}

.timetable
{
  color: #004C98;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid red;
  margin-bottom: 20px;
}

.timetable-list
{
  list-style-type: none;
}

/*  background-color: #004C98; /*Blue*/
/*background-color: #ffffff; /*White*/